@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Open+Sans:wght@600;800&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Lato";
  font-style: normal;
}

/*Header*/
.header {
  width: 1600px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  display: flex;
  position: relative;
  height: 100px;
  box-sizing: border-box;
}

/*fallback для jus*/
.container {
  text-align: center;
}

/*fallback для jus*/
.container {
  width: 1600px;
  margin: 0 auto;
}

.site-logo {
  display: flex;
  margin-left: 227px;
  gap: 13px;
  align-items: center;
  padding-bottom: 24px;
}

img {
  max-width: 100%;
}

.logo {
  padding-top: 25px;
}

.button_menu {
  padding-top: 39px;
  font-family: "Lato";
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}

span {
  font-weight: 900;
  color: #f16d7f;
}

.labe_btn {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid;
  width: 87px;
  height: 37px;
  background-color: #cdcdcc;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  padding-left: 15px;
  font-family: "Lato";
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
}

.button_browse {
  display: flex;
  padding-top: 32px;
  padding-bottom: 30px;
  margin-left: 34px;
}

/*Browse-menu*/
#burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}

#burger:checked ~ .browse_menu {
  display: none;
}

.browse_menu {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 19px 13px 22px 15px;
  position: absolute;
  top: 72px;
  left: 430px;
  transition: top 0.3s;
  z-index: 2;
  border-radius: 5px;
}

.list_browse {
  font-family: "Lato";
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4f4f4f;
  list-style: none;
}

.form_search {
  padding-top: 32px;
}

form {
  display: flex;
  height: 38px;
}

.searching {
  padding-left: 15px;
  padding-right: 102px;
  border: 1px solid #e6e6e6;
  font-family: "Lato";
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.button_filter {
  display: flex;
  gap: 8px;
  font-family: "Lato";
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  padding-left: 15px;
  padding-right: 9px;
  align-items: center;
}

.picture_triangle {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
}

.text_writing {
  display: flex;
}

.subs_input {
  font-family: "Lato";
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  display: flex;
  color: #a4a4a4;
  padding: 14px 122px 14px 16px;
}

.press_search {
  display: flex;
  padding-left: 11px;
  padding-right: 11px;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
}

.header_search {
  display: flex;
}

.button_myaccount {
  display: flex;
  margin-left: 334px;
  margin-top: 31px;
  margin-bottom: 31px;
  position: relative;
}

.filter-sort {
  display: flex;
  position: relative;
  box-sizing: border-box;
  gap: 13px;
}

.filter {
  padding-top: 13px;
  box-sizing: border-box;
  width: 262px;
  position: relative;
  z-index: 10;
}

.filter__content {
  background-color: #fff;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.filter[open] {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter[open] .filter__heading {
  color: #f16d7f;
}

.filter[open] path {
  fill: #f16d7f;
}

.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}

.filter__heading {
  display: flex;
  margin-top: -10px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.filter__item {
  margin-top: 16px;
}

.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px 20px;
}

.totals {
  display: flex;
  justify-content: space-between;
}

.total, .total2 {
  display: flex;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.filter__link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}
.filter__link:hover {
  color: #f16d7f;
}

.filter__head {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
}

.filter__item[open] .filter__head {
  color: #ef5b70;
}

.index_link {
  display: flex;
  gap: 14px;
}

.name_of_buy {
  font-family: "Lato";
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  padding-top: 10px;
  padding-bottom: 10px;
}

.count_price {
  font-family: "Lato";
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f;
  padding-top: 14px;
}

.cross_in_cicle {
  display: flex;
  align-items: center;
  padding-top: 7px;
}

.two_in_basket {
  position: absolute;
  top: -7px;
  transform: translateY(-1%);
  right: 204px;
  display: flex;
  padding: 1px 6px 3px 7px;
  border-radius: 20px;
  background-color: #f16d7f;
  color: #ffffff;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}

.button_checkout {
  width: 211px;
  height: 47px;
  border: 1px solid #eaeaea;
  font-family: "Lato";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #4a4a4a;
  background: #ffffff;
  text-transform: uppercase;
}

.button_checkout:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
  background: none;
}

.my_account-link {
  margin-left: -187px;
}

.my_account {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 19px;
  padding-right: 12px;
  background-color: #f16d7f;
  font-family: "Lato";
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  border: none;
}

.navigation {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 80px;
  right: 0px;
  transition: right 0.3s;
}

#basket {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
#basket:checked ~ .navigation {
  right: -232px;
}

/* Main*/
.menu {
  display: flex;
  justify-content: space-between;
  width: 680px;
  padding-left: 460px;
  list-style: none;
}

.link_menu {
  display: flex;
  justify-content: center;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-decoration: none;
  line-height: 26px;
}

.mega-box {
  display: none;
  padding: 20px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  z-index: 3;
}

.mega-title {
  display: flex;
  width: 235px;
  border-bottom: 1px solid #e8e8e8;
  font-family: "Lato";
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  margin-bottom: 16px;
}

.browse_lists {
  display: flex;
}

.mega-link {
  display: flex;
  font-family: "Lato";
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
}

.mega-link:hover {
  color: #F16D7F;
}

.indention {
  padding-top: 14px;
}

.foto_supersale {
  position: relative;
  margin-top: 22px;
}

.foto_supersale:hover {
  box-shadow: 0 0 28px #f16d7f;
}

.text_supersale {
  display: flex;
  position: absolute;
  top: -21px;
  bottom: 10px;
  transform: translate(161px, 68px);
  width: 71px;
  font-family: Lato;
  font-size: 22px;
  line-height: 28px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.menu-list {
  position: relative;
}

.mega-box::before {
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  background-color: #fff;
  position: absolute;
  top: -9px;
  left: 30px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.menu-item {
  margin-right: 46px;
}

.menu-item:last-of-type {
  margin-right: 0;
}

.menu-list:hover .mega-box {
  display: flex;
}

.last:hover .mega-box {
  right: 0;
  left: auto;
}

.last:hover .mega-box:before {
  right: 49px;
  left: auto;
}

.menu-active {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.hidden {
  display: none;
}

.menu-heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  padding: 32px 144px 24px 33px;
  color: rgb(0, 0, 0);
}

.menu-text {
  padding-left: 32px;
  padding-bottom: 12px;
  color: rgb(241, 109, 127);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.menu-list {
  list-style: none;
  padding-top: 11px;
  padding-bottom: 11px;
}

.menu_lists {
  padding-bottom: 11px;
}

.menu_link {
  text-decoration: none;
  color: rgb(111, 110, 110);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

/* section 2 brand container */
.brand {
  display: flex;
}

.text_brand {
  display: flex;
  position: absolute;
  transform: translateY(224px);
  padding-left: 230px;
}

.vertical_line {
  border: 6px solid #f16d7f;
  margin-top: 16px;
  margin-right: -2px;
  height: 83px;
}

.titles {
  display: flex;
  width: 509px;
  flex-wrap: wrap;
  padding-left: 12px;
}

.title_brand {
  font-family: "Lato";
  font-size: 60px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
}

.title_brand2 {
  font-family: "Lato";
  font-size: 40px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
}

/* Section 3, Sale*/
span {
  color: #f16d7f;
}

.sale {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  margin-top: 98px;
  gap: 20px;
  justify-content: center;
}

.saling {
  position: relative;
  display: flex;
}

.cover {
  position: absolute;
  text-align: center;
  width: 360px;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.cover:hover {
  background-color: rgba(33, 22, 22, 0.7);
}

.item1 {
  grid-column: 1/2;
  grid-row: 1/3;
}

.item2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.item3 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.item4 {
  grid-column: 2/3;
  grid-row: 2/4;
}

.text_sale {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  flex-direction: column;
  width: 175px;
  margin-top: 26px;
}

.info2 {
  width: 162px;
}

.info3 {
  width: 225px;
  margin-top: 25px;
}

.info4 {
  width: 180px;
  margin-top: 27px;
}

.sale_text {
  background-color: #fff;
  padding: 13px 20px 3px 19px;
  color: #222222;
  font-size: 18px;
  font-family: "Lato";
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.text_up2 {
  padding: 12px 19px 3px 18px;
}

.text_up3 {
  padding: 13px 17px 3px 18px;
}

.text_up4 {
  padding: 13px 21px 3px 19px;
}

.sale_women {
  padding: 0 16px 11px 19px;
  background-color: #ffffff;
  color: #f16d7f;
  font-weight: 900;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.025em;
}

/*Fetured Items*/
.products {
  margin-top: 66px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 54px;
  color: #222222;
}

.main__title p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 54px;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}

.all__cards {
  display: flex;
  gap: 30px;
  margin-top: 48px;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 230px;
  padding-right: 230px;
}

.product__card {
  display: flex;
  flex-direction: column;
  width: 261px;
}

/*--product card hover image --*/
.prod__image_cont {
  position: relative;
}

.prod__image_cont:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
}

.prod__image_cont:hover::before {
  background: rgba(58, 56, 56, 0.83);
}

.prod__image_cont img {
  display: block;
}

.prod__image_cont .btn {
  width: 138px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
  background: none;
  border: 1px solid #FFFFFF;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.prod__image_cont .btn:hover {
  box-shadow: 0 0 28px #ffffff;
}

.prod__image_cont:hover button {
  opacity: 1;
}

/*----*/
.card__text {
  text-align: left;
  background-color: #f8f8f8;
  padding-left: 16px;
  padding-right: 29px;
}

.card__text h3 {
  padding-top: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.card__text p {
  margin-top: 12.6px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.card__text h4 {
  margin-top: 18px;
  padding-bottom: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.all__prod__button {
  margin-top: 48.5px;
  margin-bottom: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all__prod__button button {
  width: 211px;
  height: 47px;
  border: 1px solid #f16d7f;
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  line-height: 54px;
  color: #FFFFFF;
  background: #F16D7F;
  letter-spacing: 0.025em;
}

.all__prod__button button:hover {
  color: #f16d7f;
  background: none;
}

.arrow {
  display: flex;
  gap: 9px;
  align-items: center;
  padding-left: 24px;
}

/*Services*/
.services {
  display: flex;
  position: relative;
  justify-content: center;
}

.icon_hidden {
  display: flex;
}

.text_brand2 {
  display: flex;
  position: absolute;
  transform: translate(-405px, 131px);
  padding-left: 39px;
}

.service_title {
  font-family: "Lato";
  font-size: 54px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.title_brand1 {
  font-size: 54px;
}

.title_brand3 {
  text-align: left;
  font-size: 32px;
}

.services_list {
  display: flex;
  text-align: left;
  padding-left: 35px;
  padding-right: 43px;
  padding-top: 48px;
  flex-direction: column;
  background-color: #222224;
  gap: 44px;
}
.services_list .services_icons {
  display: flex;
  gap: 34px;
}

.service_text {
  gap: 18px;
  display: flex;
  flex-direction: column;
  color: #fbfbfb;
}

.services_title {
  font-family: "Lato";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.services_parag {
  font-family: "Lato";
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
}

/*Subscribes*/
.subscribes {
  margin-top: 97px;
  background: url(./img/backfoto_sunscribe.png), lightgray 0px -169px/100% 246.875% no-repeat;
  /* display: flex; */
  /* gap: 327px; */
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.footer__blur {
  background: rgba(244, 244, 244, 0.7);
  height: 448px;
  display: flex;
  flex-direction: row;
  gap: 76px;
}

.footer__subscribe__info {
  margin-top: 111px;
  width: 497px;
  height: 225px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 26px;
  margin-left: 230px;
  gap: 28px;
}

.quote {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.subscribe_parag {
  font-family: "Lato";
  padding-bottom: 19px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
}

.sub_parag1 {
  font-family: "Lato";
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.sub_parag2 {
  font-family: "Lato";
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222224;
  letter-spacing: 0.025em;
  padding-bottom: 41px;
}

.sub_lines {
  display: flex;
  gap: 13px;
}

.footer__subsc_subsc {
  margin-top: 125px;
  width: 557px;
  height: 142px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer__subsc_subsc__text {
  text-align: center;
}

.footer__subsc_subsc__text h2 {
  font-family: "Lato";
  font-size: 24px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
}

.footer__subsc_subsc__text p {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #222224;
  text-transform: none;
  letter-spacing: 0.025em;
}

.footer__subsc__form__btn form {
  width: 386px;
  height: 49px;
  display: flex;
  justify-content: center;
}

.footer__subsc__form__btn input {
  width: 256px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 54px;
  display: flex;
  align-items: center;
  color: #222224;
  opacity: 0.67;
  background: #E1E1E1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-left: 22px;
  border: none;
  letter-spacing: 0.025em;
}

.footer__subsc__form__btn button {
  width: 100px;
  height: 49px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 54px;
  letter-spacing: 0.025em;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background: #f16d7f;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  vertical-align: middle;
  padding-left: 21px;
  padding-right: 20px;
  border: none;
}

.footer__subsc__form__btn {
  max-width: 341px;
  width: 100%;
}

/*About*/
.about {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  border-bottom: 2px solid #ECECEC;
}

.about__info {
  width: 539px;
  margin-top: 109px;
  margin-right: 103px;
  padding-left: 5px;
}

.about_brand {
  font-family: "Lato";
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}

.about__about {
  text-align: left;
  margin-left: 229px;
  padding-top: 29px;
  width: 429px;
  margin-bottom: 57px;
  font-family: "Lato";
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}

.about__items {
  display: flex;
  text-align: left;
  gap: 0px 35px;
  max-width: 609px;
  padding-top: 123px;
  margin-left: 64px;
}

.about__item {
  width: 285px;
  flex: 1 1 285px;
  margin-bottom: 53px;
}

.about__title {
  margin: 0;
  margin-bottom: 13px;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.about_list {
  list-style: none;
  font-family: "Lato";
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}

.about_link {
  color: #898989;
}

.about_link:hover {
  border: 1px solid #f16d7f;
}

/*Footer*/
.footer {
  display: flex;
  min-height: 79px;
  justify-content: space-between;
  background-color: #e6e6e6;
}

.footer_rights {
  display: flex;
  align-items: center;
  padding-left: 228px;
}

.footer_parag {
  font-family: "Lato";
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}

.footer_icons {
  display: flex;
  gap: 7px;
  padding-top: 24px;
  padding-right: 230px;
  padding-bottom: 22px;
}

.social_link {
  display: flex;
  width: 32px;
  min-height: 31px;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  align-items: center;
}

.social_link:hover {
  background-color: #f16d7f;
  color: #ffffff;
}

.social_link:active {
  color: rgb(255, 255, 255);
}

.icon_color {
  color: #b2b2b2;
}

.icon_color:hover {
  color: #fff;
}

.social_logo {
  padding: 5px;
}

svg:hover {
  fill: rgb(255, 255, 255);
}

/*страница Single Page*/
.top-head {
  background: #f8f3f4;
  padding: 65px 230px 65px 228px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-head__heading {
  font-family: "Lato";
  font-weight: 900;
  font-size: 24px;
  line-height: 20px;
  color: #F16D7F;
}

.breadcrumbs__link {
  font-family: "Lato";
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}

.breadcrumbs__link:hover {
  color: #F16D7F;
}

.breadcrumbs__link_site {
  font-weight: 700;
  color: #F16D7F;
}

/*блок с Main foto
на странице Single Page*/
.mega_foto {
  position: relative;
  margin-bottom: 654px;
}

.single_mainfoto {
  display: flex;
  justify-content: space-around;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
}

.big_girl {
  padding-top: 11px;
  padding-bottom: 42px;
}

.flips {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(42, 42, 42, 0.14);
  height: 47px;
  width: 47px;
  margin-top: 365px;
}

.flips:hover {
  background-color: #f16d7f;
  color: #fff;
}

/*подблок Moschino_whiteblock*/
.moschino_whiteblock {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  position: absolute;
  justify-content: center;
  margin-left: 229px;
  width: 1141px;
  top: 688px;
  width: 1141px;
  border: 1px solid #eaeaea;
  background-color: #fff;
}

.title_block {
  display: flex;
  padding-top: 73px;
  justify-content: center;
  flex-direction: column;
}

.title_women {
  display: flex;
  justify-content: center;
  font-family: "Lato";
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #f16d7f;
}

.lines_afterwomen {
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

.grey_line {
  width: 42px;
}

.red_line {
  width: 63px;
}

.title_moschino {
  display: flex;
  margin-top: 17px;
  justify-content: center;
  font-family: "Lato";
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
}

.stars_foto {
  display: flex;
  padding-left: 527px;
  padding-top: 24px;
  width: 88px;
}

.text_moschino {
  display: flex;
  padding-left: 262px;
  margin-top: 67px;
  text-align: center;
  font-family: "Lato";
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #5e5e5e;
}

.material_designer {
  display: flex;
  padding-top: 28px;
  justify-content: center;
  gap: 44px;
  font-family: "Lato";
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #b9b9b9;
}

.select_text {
  color: #2f2f2f;
}

.moschine_price {
  display: flex;
  justify-content: center;
  padding-bottom: 43px;
  margin-top: 37px;
  font-family: Lato;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #ef5b70;
}

.hr_line {
  border: none;
  border: 1px solid #eaeaea;
  width: 642px;
  margin-left: 250px;
}

.choose_model {
  display: flex;
  width: 466px;
  padding: 63px 372px 16px 303px;
  justify-content: space-between;
}

.sort {
  display: flex;
  gap: 53px;
  padding-left: 302px;
}

.choose_color {
  display: flex;
  padding-left: 14px;
  padding-right: 9px;
  align-items: center;
  font-family: "Lato";
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  border: 1px solid #eaeaea;
}

.red_square {
  padding-left: 11px;
  padding-right: 67px;
}

.choose_size {
  display: flex;
  gap: 87px;
  padding-left: 15px;
  padding-right: 9px;
  align-items: center;
  font-family: "Lato";
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  border: 1px solid #eaeaea;
}

.choose_quantity {
  display: flex;
  padding-left: 17px;
  padding-right: 119px;
  font-family: "Lato";
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  border: 1px solid #eaeaea;
}

.add_basket {
  padding-top: 28px;
  padding-bottom: 122px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add_basket button {
  width: 537px;
  height: 55px;
  border: 1px solid #ef5b70;
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: #ef5b70;
  background: #ffffff;
}

.add_basket button:hover {
  color: #ffffff;
  background: #ef5b70;
}

.red_basket {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 207px;
}

/*Section YOU MAY LIKE ALSO
in a Single Page*/
/*fallback для flex-direction: column*/
.may_like {
  display: block;
}

/*fallback для flex-direction: column*/
/*fallback для flex-direction: column*/
.like__text {
  display: block;
}

/*fallback для flex-direction: column*/
.may_like {
  display: flex;
  flex-direction: column;
  width: 1141px;
  padding-top: 200px;
}

/*fallback для justify-conent*/
.like_titletext {
  display: inline-block;
}

.like_titletext {
  display: flex;
  padding-bottom: 72px;
  justify-content: center;
  font-family: "Lato";
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
}

.like_fotos {
  display: flex;
  gap: 32px;
}

.like_image {
  width: 261px;
  background-image: url(./img/background_like.png);
  background-repeat: no-repeat;
}

.like_clothes1 {
  padding: 5px 86px 5px 82px;
}

.like_clothes2 {
  padding: 0px 75px 5px 78px;
  transform: translateY(-15px);
}

.like_clothes3 {
  padding: 7px 83px 8px 92px;
}

/*fallback для flex-direction: column*/
.like__text {
  display: block;
}

/*fallback для flex-direction: column*/
.like__text {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  margin-left: 14px;
  width: 235px;
}

.diff {
  margin-top: -12px;
}

.like_subtext1 {
  padding-bottom: 17px;
  font-family: "Lato";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
}

.like_subtext2 {
  font-family: "Lato";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}

.like_stars {
  float: right;
}

/*Product Catalog Page*/
.mans_catalog {
  display: flex;
  gap: 50px;
}

.mans_menu {
  display: flex;
  padding-top: 35px;
}

.selecting {
  padding-top: 13px;
  box-sizing: border-box;
  width: 243px;
  position: relative;
  z-index: 10;
}
.selecting__content {
  background-color: #fff;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
.selecting[open] .selecting__heading {
  color: #f16d7f;
}
.selecting__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.selecting__item {
  margin-top: 16px;
}
.selecting__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.selecting__link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}
.selecting__link:hover {
  color: #f16d7f;
}
.selecting__head {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #f16d7f;
}
.selecting__item[open] .selecting__head {
  color: #f16d7f;
}

.mans_selecting {
  display: flex;
}

.mans_select1 {
  display: flex;
  width: 233px;
  margin-right: 115px;
  flex-direction: column;
  padding-bottom: 25px;
  font-family: "Lato";
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
}

.mans_select2 {
  display: flex;
  margin-right: 58px;
}

.man_link {
  font-family: "Lato";
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
}

.man_link:hover {
  color: red;
}

.vertical_bar {
  padding-left: 5px;
  padding-right: 5px;
  color: #dfdfdf;
}

.cheking {
  color: #ffffff;
}

.options {
  display: flex;
  flex-direction: column;
  margin-top: 71px;
  width: 846px;
}

.option_title {
  display: flex;
  font-family: "Lato";
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
}

.man_brands {
  display: flex;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
}

.mans_select2 {
  display: flex;
  flex-direction: column;
}

.sort__box {
  display: flex;
  gap: 23px;
}

.sort__check {
  display: flex;
  gap: 9px;
}

.labe_option {
  display: flex;
  background-image: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
  border: none;
  padding: 0;
  gap: 0;
  width: auto;
  height: auto;
}

.micro_filtering {
  display: flex;
  background-color: #f3f3f3;
  margin-bottom: 47px;
}

.micro_filter {
  display: flex;
  padding-left: 9px;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sortby {
  display: flex;
}

.sortby_border {
  padding: 10px 9px 10px 13px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}

.sortby_triangle {
  padding-left: 19px;
}

/*item-box in a Product Page*/
.items-box {
  display: flex;
  width: 846px;
  gap: 28px;
  flex-wrap: wrap;
}

.txt-box {
  display: flex;
  flex-direction: column;
  margin: 19px 12px 21px 14px;
}

.item:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.item-pic {
  width: 100%;
}

.item-link {
  display: block;
  width: 263px;
  text-decoration: none;
}

.item-dsc {
  display: flex;
  font-family: "Lato";
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 17px;
}

.item-price {
  font-family: "Lato";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}

.item:hover .item-pic {
  filter: brightness(30%);
}

.add {
  display: flex;
  text-decoration: none;
  padding: 10px 13px 7px 12px;
  border: 1px solid #fff;
  border-radius: 3px;
  align-items: center;
  pointer-events: all;
}

.add1 {
  display: flex;
  text-decoration: none;
  padding: 13px 17px 13px 18px;
  border: 1px solid #fff;
  border-radius: 3px;
  align-items: center;
  pointer-events: all;
}

.add2 {
  display: flex;
  text-decoration: none;
  padding: 12px 20px 11px 21px;
  border: 1px solid #fff;
  border-radius: 3px;
  align-items: center;
  pointer-events: all;
}

.add-box {
  position: absolute;
  top: 98px;
  display: none;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.add-box2 {
  position: absolute;
  left: -33px;
  top: 145px;
  display: none;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.add-box3 {
  position: absolute;
  left: 33px;
  top: 145px;
  display: none;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.item {
  position: relative;
  width: 263px;
  margin-bottom: 40px;
}

.add-txt {
  font-family: "Lato";
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin-left: 8px;
}

.add:hover {
  box-shadow: 0 0 10px 0 #ffffff;
}

.add1:hover {
  box-shadow: 0 0 10px 0 #ffffff;
}

.add2:hover {
  box-shadow: 0 0 10px 0 #ffffff;
}

.item:hover .add-box {
  display: flex;
}

.item:hover .add-box2 {
  display: flex;
}

.item:hover .add-box3 {
  display: flex;
}

.item-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price_stars {
  display: flex;
  justify-content: space-between;
}

/*Pagination*/
.paginat_nav {
  display: flex;
  margin-bottom: 110px;
  justify-content: space-between;
}

.paginat_list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 261px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.page-link {
  display: flex;
  padding-top: 9px;
  padding-bottom: 9px;
  font-family: "Lato";
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #c4c4c4;
}

.pagi_one {
  color: #ef5b70;
}

.quotes1 {
  padding-top: 6px;
  padding-left: 7px;
}

.quotes2 {
  padding-right: 5px;
  padding-top: 6px;
}

.btn_view {
  width: 150px;
}

.view_all {
  height: 44px;
  width: 150px;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  border-radius: 3px;
  font-family: "Lato";
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #ef5b70;
}

/*Conditions block in a
Product Page*/
.conditions {
  display: flex;
  /* min-height: 341px; */
  justify-content: center;
  background-color: rgb(34, 34, 36);
  gap: 30px;
  margin-bottom: -96px;
}

.conditions_icons {
  display: flex;
  flex-direction: column;
  margin-top: 89px;
  margin-bottom: 114px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 360px;
}

.condition_icon {
  display: flex;
  justify-self: center;
}

.condition_delivery {
  padding-bottom: 32px;
}

.condition_sales {
  padding-bottom: 19px;
}

.condition_quality {
  padding-bottom: 25px;
}

.condition_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conditions_title {
  font-style: "Lato";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  font-style: normal;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  margin-bottom: 17px;
}

.conditions_parag {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-family: "Lato";
  font-weight: 300;
  color: #fbfbfb;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.025em;
  max-width: 360px;
  width: 100%;
}

/*Checkout page,
checkouting block*/
.redline_bott {
  border-bottom: 3px solid #ef5b70;
}

.checkouting__item {
  border-bottom: 1px solid #e8e8e8;
}

.checkouting_sort {
  display: flex;
}

.checkouting__content {
  padding-left: 230px;
  padding-right: 131px;
  margin-top: 89px;
}

.checkouting__head {
  display: flex;
  padding-bottom: 33px;
  font-family: "Lato";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.checkouting__link-box {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
  width: 421px;
  flex-wrap: wrap;
}

.checkouting__link {
  display: flex;
  padding-bottom: 8px;
  font-family: "Lato";
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.checkouting__link2 {
  display: flex;
  font-family: "Lato";
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
}

.checkouting__link3 {
  display: flex;
  padding-bottom: 9px;
  font-family: "Lato";
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  color: #222222;
}

.form_guest {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding-top: 23px;
}

.guest {
  display: flex;
  display: flex;
  border: none;
  background: #ffffff;
  font-family: "Lato";
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.form_guesting {
  display: flex;
}

.button_link {
  display: flex;
  border: 1px solid #eaeaea;
  width: 177px;
  justify-content: center;
  padding-top: 19px;
  padding-bottom: 19px;
  margin-top: 26px;
  margin-bottom: 79px;
  font-family: "Lato";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}

.button_link:hover {
  color: #f16d7f;
  border: 2px solid #f16d7f;
}

.checkouting_login {
  display: flex;
  flex-direction: column;
  margin-top: 141px;
}

.checkouting_mail {
  display: flex;
  margin-top: 5px;
  padding-top: 17px;
  padding-bottom: 12px;
  font-family: "Lato";
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
}

.red__star {
  font-family: "Lato";
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  color: #ff0d0d;
}

.red__text {
  display: flex;
  padding-top: 23px;
  font-family: "Lato";
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #ff0d0d;
}

.btn_login {
  display: flex;
  gap: 32px;
}

.login_text {
  display: flex;
  padding-top: 45px;
}

.inp_pass {
  width: 360px;
  padding: 21px 9px 20px 16px;
}

/*SHOPPING CART page*/
.shopping_cart {
  display: flex;
  margin-top: 90px;
  flex-direction: column;
  margin-left: 230px;
}

.shopping_total {
  display: flex;
  border-bottom: 1px solid #eaeaea;
}

.shopping_detail {
  display: flex;
  padding-bottom: 20px;
  font-family: "Lato";
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #222222;
}

.shopping_details {
  display: flex;
  font-family: "Lato";
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #222222;
}

.title_detail {
  margin-right: 398px;
}

.title_detail1 {
  padding-right: 96px;
}

.title_detail2 {
  padding-right: 79px;
}

.title_detail3 {
  padding-right: 85px;
}

.title_detail4 {
  padding-right: 55px;
}

.shopping_fotos {
  display: flex;
  margin-top: 22px;
  border-bottom: 1px solid #eaeaea;
}

.shopping_foto1 {
  display: flex;
  padding-bottom: 25px;
}

.foto_details {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  padding-left: 21px;
}

.shopping_text {
  display: flex;
  width: 155px;
  flex-wrap: wrap;
  font-family: "Lato";
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.subtext1 {
  display: flex;
  padding-top: 15px;
  font-family: "Lato";
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #575757;
}

.subtext2 {
  display: flex;
  font-family: "Lato";
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #575757;
}

.lightgrey_text {
  font-weight: 300;
  color: #6f6e6e;
}

.shopping_data {
  display: flex;
  margin-left: 255px;
  font-family: "Lato";
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #656565;
}

.data_details1 {
  padding-right: 128px;
}

.data_details2 {
  padding-right: 98px;
}

.data_span {
  padding: 10px 23px 10px 24px;
  color: #656565;
  border: 1px solid #eaeaea;
}

.data_details3 {
  padding-right: 116px;
}

.data_details4 {
  padding-right: 87px;
}

.shopping_cross {
  display: flex;
  padding-top: 4px;
}/*# sourceMappingURL=style.css.map */